@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-dark: #212121;
    --color-light: #ffffff;
    --color-highlight: #6cbc89;
    --color-alert: #f75e5e;
    --color-warn: #ffa135;
    --color-smooth: #35C9FF;
}

:root {
    --el-color-primary: var(--color-dark) !important;
    --el-text-color-regular: var(--color-dark) !important;
    --el-font-size-base: 1.6rem !important;
    --el-text-color-placeholder: #999999 !important;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--additional-color-1);
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    background-color: var(--secondary-color);
    line-height: 1.75;
}