@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-dark: #212121;
    --color-light: #ffffff;
    --color-highlight: #6cbc89;
    --color-alert: #f75e5e;
    --color-warn: #ffa135;
    --color-smooth: #35C9FF;

    /* Breakpoints */
    --breakpoint-*: initial;
    --breakpoint-mobile: 480px;
    --breakpoint-tablet: 640px;
    --breakpoint-laptop: 900px;
    --breakpoint-desktop: 1200px;
}

:root {
    --el-color-primary: var(--color-dark) !important;
    --el-text-color-regular: var(--color-dark) !important;
    --el-text-color-placeholder: var(--color-dark) !important;
    --el-font-size-base: 1.6rem !important;
    --el-radio-text-color: var(--color-dark) !important;
    --el-radio-font-weight: 400 !important;
    --el-radio-input-bg-color: var(--color-dark) !important;
}

html {
    font-size: 62.5%;
}

html.dark {
    --el-color-white: var(--color-dark) !important;
    --el-color-primary: var(--color-gray-300) !important;
    --el-color-info-light-9: #3d3d3d !important;
    --el-text-color-regular: var(--color-light) !important;
    --el-text-color-primary: var(--color-light) !important;
    --el-text-color-placeholder: #999999 !important;
    --el-fill-color-blank: var(--color-dark) !important;
    --el-fill-color-light:  #3d3d3d !important;
    --el-border-color: oklch(55.1% 0.027 264.364) !important;
    --el-bg-color: var(--color-dark) !important;
    --el-bg-color-overlay: var(--color-dark) !important;
    --el-bg-color-light: var(--color-dark) !important;
    --el-radio-text-color: var(--color-light) !important;
    --el-radio-input-bg-color: var(--color-dark) !important;
}

body {
    color: var(--additional-color-1);
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    background-color: var(--secondary-color);
    line-height: 1.75;
}

.el-date-table td.current:not(.disabled) .el-date-table-cell__text,
.el-month-table td.current:not(.disabled) .el-date-table-cell__text,
.el-year-table td.current:not(.disabled) .el-date-table-cell__text {
    color: var(--el-color-white) !important;
    font-weight: 600 !important;
}

.el-radio__inner:after {
    height: .7rem !important;
    width: .7rem !important;
}
