@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
    --main-color : #6cbc89
    --secondary-color : #ffffff
    --additional-color-1: #212121
    --additional-color-2: #f75e5e
    --additional-color-3: #ffa135
    --additional-color-4: #35C9FF
}

html {
    font-size: 62.5%;
}

body {
    color: var(--additional-color-1);
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    background-color: var(--secondary-color);
    line-height: 1.75;
}